---
name: chromatic-calculator
url: /chromatic-calculator
controller: ChromaticCalculatorController
---
<div class="grid-container">
  <h1>Chromatic Calculator!</h1>
  <form>
    <div class="grid-block">
      <div class="small-12 medium-4 medium-offset-4 grid-content">
        <label>Sockets</label>
        <input type="number" placeholder="Number" ng-model="form.numSockets">
      </div>
    </div>

    <div class="grid-block">
      <div class="small-12 medium-4 grid-content">
        <label>Required Strength</label>
        <input type="number" placeholder="Number" ng-model="form.requiredStrength">
      </div>

      <div class="small-12 medium-4 grid-content">
        <label>Required Dexterity</label>
        <input type="number" placeholder="Number" ng-model="form.requiredDexterity">
      </div>

      <div class="small-12 medium-4 grid-content">
        <label>Required Intelligence</label>
        <input type="number" placeholder="Number" ng-model="form.requiredIntelligence">
      </div>
    </div>

    <div class="grid-block">
      <div class="small-12 medium-4 grid-content">
        <label>Red Sockets</label>
        <input type="number" placeholder="Number" ng-model="form.numRedSockets">
      </div>

      <div class="small-12 medium-4 grid-content">
        <label>Green Sockets</label>
        <input type="number" placeholder="Number" ng-model="form.numGreenSockets">
      </div>

      <div class="small-12 medium-4 grid-content">
        <label>Blue Sockets</label>
        <input type="number" placeholder="Number" ng-model="form.numBlueSockets">
      </div>
    </div>

    <div class="grid-block">
      <div class="large-12 grid-content">
        <table st-table="rowCollection">
          <thead>
          <tr>
            <th>Craft Type</th>
            <th>Success Chance</th>
            <th>Average Attempts</th>
            <th>Cost per try</th>
            <th>Average Cost</th>
            <th>Std. Deviation of attempts</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="row in rowCollection">
            <td>{{row.craftType}}</td>
            <td>{{row.successChance | percent: 2 }}</td>
            <td>{{row.averageAttempts | number: 2 }}</td>
            <td>{{row.costPerTry}}</td>
            <td>{{row.averageCost | number: 2 }}</td>
            <td>{{row.standardDeviation | number: 2 }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>
