<form>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <div class="form-group no-top-margin">
                <label for="in-sockets">Sockets</label>
                <input id="in-sockets"
                       type="number"
                       ng-model="form.numSockets"
                       class="form-control"
                       min="0"
                       max="6">
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group no-top-margin">
                <label>Base Item</label>
                <input type="text"
                       ng-model="selectedItem"
                       uib-typeahead="item.name for item in itemArray | filter:$viewValue | limitTo:8"
                       class="form-control"
                       typeahead-on-select="onBaseItemSelect($item)"
                       placeholder="Start typing...">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-xs-4">
            <label for="in-str">Required Strength</label>
            <input id="in-str" type="number" ng-model="form.requiredStrength"
                   class="form-control" min="0">
        </div>
        <div class="form-group col-xs-4">
            <label for="in-dex">Required Dexterity</label>
            <input id="in-dex" type="number" ng-model="form.requiredDexterity"
                   class="form-control" min="0">
        </div>
        <div class="form-group col-xs-4">
            <label for="in-int">Required Intelligence</label>
            <input id="in-int" type="number" ng-model="form.requiredIntelligence"
                   class="form-control" min="0">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-4">
            <label for="in-red-sock">Red Sockets</label>
            <input id="in-red-sock" type="number" ng-model="form.numRedSockets" class="form-control"
                   min="0" max="6">
        </div>
        <div class="form-group col-xs-4">
            <label for="in-green-sock">Green Sockets</label>
            <input id="in-green-sock" type="number" ng-model="form.numGreenSockets" class="form-control"
                   min="0" max="6">
        </div>
        <div class="form-group col-xs-4">
            <label for="in-blue-sock">Blue Sockets</label>
            <input id="in-blue-sock" type="number" ng-model="form.numBlueSockets" class="form-control"
                   min="0" max="6">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-warning btn-raised pull-right" ng-click="reset()">Reset</button>
        </div>
    </div>
</form>
<div class="table-responsive">
    <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped no-bottom-margin">
        <thead>
        <tr>
            <th st-sort="craftType">Craft Type</th>
            <th st-sort="successChance">Success Chance</th>
            <th st-sort="averageAttempts">Average Attempts</th>
            <th st-sort="costPerTry">Cost per try</th>
            <th st-sort="averageCost">Average Cost</th>
            <th st-sort="standardDeviation">Std. Deviation of attempts</th>
        </tr>
        <tr>
            <th colspan="6"><input st-search="" class="form-control" placeholder="Search..." type="text"/></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in displayedCollection">
            <td>{{row.craftType}}</td>
            <td>{{row.successChance | percent: 2 }}</td>
            <td>{{row.averageAttempts | number: 2 }}</td>
            <td>{{row.costPerTry}}</td>
            <td>{{row.averageCost | number: 2 }}</td>
            <td>{{row.standardDeviation | number: 2 }}</td>
        </tr>
        </tbody>
    </table>
</div>
